<div class="container">
  <div class="header-topbar">
    <div class="row align-items-center">
      {% if config.plugins.breadcrumbs.enabled %}
        {% include 'partials/breadcrumbs.html.twig' %}
      {% endif %}
      <div class="header-languages col-2">
        <span class="sr-only">Sprache auswählen:</span>
        <ul class="header-languages__list">
          <li class="header-languages__item header-languages__item--active">
            <a href="#de" class="header-languages__item-link" title="Deutsch">DE</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% import 'macros/macros.html.twig' as macros %}
        {{ macros.nav_loop(pages) }}
      </ul>
    </div>
  </div>
</nav>