// TOP HEADER
.header-topbar {
    color: #ffffff;
    background-color: $highlightColor;
    position: relative;
    margin-top: -48px;
    z-index: 20;
    overflow: hidden;
}

.navbar {
    padding: 0;
}

.nav-link {
    padding: 2rem 0.85rem !important;
    text-transform: uppercase;
    font-size: 0.9rem;

    .active & {
        background: #333;
        color: #fff !important;
    }

    &:after {
        margin-left: -5px;
        position: absolute;
        bottom: 15px;
        left: 50%;
    }
}

.dropdown-menu {
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    margin: 0;
    border: none;
    padding: 0;
}

.nav-item {
    .nav-link {
        color: #333 !important;

        &:hover,
        &:focus {
            color: #000;
            background: #fff;
            box-shadow: 0 -10px 10px rgba(0,0,0,0.15);
            position: relative;
            z-index: 9999;

            & + .dropdown-menu {
                display: block;
            }
        }
    }

    &:focus-within {
        .dropdown-menu {
            display: block;
        }
    }
}

.dropdown-item {
    font-size: 0.9rem;

    &:active,
    &.active {
        background: #2d93c5;
    }
}
