@import "../colors";

// TOP HEADER
.navigation__logo-image {
    width: 35px;
}

.header-topbar {
    color: #ffffff;
    background-color: $highlightColor;
    position: relative;
    margin-top: -48px;
    z-index: 20;
    overflow: hidden;
}

.navbar {
    padding: 0;
    border-bottom: 1px solid #ddd;
}

.navbar__title {
    display: none;
}

.navbar-toggler {
    background: $highlightColor;
}

.nav-link {
    padding: 2rem 0.85rem !important;
    text-transform: uppercase;
    font-size: 0.9rem;

    &:after {
        margin-left: -5px;
        position: absolute;
        bottom: 15px;
        left: 50%;
    }
}

.dropdown-menu {
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    margin: 0;
    border: none;
    padding: 0;
}

.nav-item {
    .nav-link {
        color: #333 !important;

        &:hover,
        &:focus {
            color: #000;
            background: #fff;
            box-shadow: 0 -10px 10px rgba(0,0,0,0.15);
            position: relative;
            z-index: 9999;

            & + .dropdown-menu {
                display: block;
            }
        }
    }

    &:focus-within,
    &:hover,
    &:focus {
        .nav-link {
            color: #000;
            background: #fff;
            box-shadow: 0 -10px 10px rgba(0,0,0,0.15);
            position: relative;
            z-index: 9999;
        }

        .dropdown-menu {
            display: block;
        }
    }

    &.active {
        .nav-link {
            color: #fff !important;
            background: #333 !important;
        }

        .dropdown-item {
            background: #333;
            color: #fff;
        }
    }
}

.dropdown-item {
    font-size: 0.9rem;

    &:hover,
    &:focus {
        background: #2d93c5 !important;
        color: #fff !important;
    }

    &:active,
    &.active {
        background: $highlightColor !important;
        color: #333 !important;
    }

}


@media (max-width: 991px) {
    .header-topbar,
    .header-titlebar__logo-link {
        display: none;
    }

    .navbar__title {
        display: inline;
        text-align: center;
        color: #fff !important;
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: #333 !important;
        border-bottom-color: #333;

        .container {
            padding: 5px 20px;
        }

        .dropdown-menu {
            display: block;
        }

        .nav-item {
            .nav-link {
                color: #fff !important;
            }

            &:focus-within {
                .nav-link {
                    background: #fff !important;
                    color: #333 !important;
                }
            }
        }
    }

    .navbar-collapse {
        overflow: auto;
        height: calc(100vh - 50px);
    }

    .nav-link {
        &:focus,
        &:hover {
            background: $highlightColor !important;
            color: #333 !important;
        }
    }

    .nav-item.active > .nav-link {
        background: #333 !important;
    }

    .nav-item.active .dropdown-item {
        background: #fff;
        color: #333;
    }
}
