@import "../colors";

.newslist_header {
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    border-bottom: 2px solid $highlightColor;
}

.newslist_item_title {
    border-bottom: 1px solid #ccc;
}

.newslist_item_date {
    text-align: right;
    color: #333;
    float: right;
    font-size: 1rem;
    margin: 9px 0 0 10px;
}

.newslist_item_files {
    margin: 0;
    padding: 0;
    list-style: none;
}
