.subnavigation {
    list-style-type: none;
    margin: 0;
    padding: 0;

    a {
        text-decoration: none;
        word-break: break-word;
    }

    .active {
        font-weight: bold;
    }
}
