html,
body {
    font-size: 16px;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
blockquote {
    font-family: "Lora", Arial, sans-serif;
}

small,
.small {
    font-size: 13px;
}
